<%= provide :title, t('.title') %>

<%= form_with model: [:admin, @app_config], local: true do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group">
    <%= f.label :plain, t('.unencrypt_value') %>
    <%= f.text_field :plain, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :value, t('.encrypted_value') %>
    <%= f.text_field :value, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status, t('.boolean_value') %>
    <%= f.select :status, options_for_select([[t('false'), 0],
                                              [t('true'),  1]]),
                          { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="d-flex justify-content-end">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
