<%= provide :title, t('.title') %>

<table class="table table-hover borderless">
  <thead class='thead-inverse'>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.unencrypt_value') %></th>
      <th><%= t('.encrypted_value') %></th>
      <th><%= t('.boolean_value') %></th>
      <th colspan='2'></th>
    </tr>
  </thead>
  <tbody>
    <% @app_configs.each do |app_config| %>
      <tr>
        <td><%= app_config.name %></td>
        <td><%= app_config.plain %></td>
        <td><%= app_config.value %></td>
        <td><%= app_config.status.try(:titleize) %></td>
        <td>
          <%= link_to t('.edit'), 
                      edit_admin_application_configuration_path(app_config),
                      class: 'btn btn-warning btn-sm' %>
        </td>
        <td>
          <%= render 'action_delete', app_config: app_config %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
