<%= render 'shared/no_record' if @orders.empty? %>
<div class="list-group">
  <% @orders.each do |order|  %>
    <%= link_to order, class: 'list-group-item list-group-item-action flex-column
                               align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <small class="text-muted"><%= t('.order_id') %>: <%= order.id %></small>
        <h5 class="mt-1"><%= order.translated_status %></h5>
      </div>
      <% order.products.each do |product| %>
        <div class="d-flex w-100 justify-content-between">
          <p class="">
            <%= order.inventories_by(product).count %> x
            <%= product.name %></p>
          </p>
          <p class="subtotal">
            <%= humanized_money_with_symbol subtotal_by(order, product) %>
          </p>
        </div>
      <% end %>
      <div class="d-flex w-100 justify-content-between">
        <small>
          <%= t('.created') %>:
          <%= order.created_at.strftime("%Y/%m/%d") %>
        </small>
        <% if order.status_before_type_cast <= 10 %>
          <h6>
            <%= t('.total') %>: 
            <%= humanized_money_with_symbol order.pre_confirm_total %>
          </h6>
        <% else %>
          <h6>
            <%= t('.total') %>: 
            <%= humanized_money_with_symbol order.total %>
          </h6>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
