<div class="row">
  <%= render 'admin/dashboard/index/pending_confirm_orders' %>
  <%= render 'admin/dashboard/index/pending_shipment_orders' %>
  <%= render 'admin/dashboard/index/pending_pickup_confirmation_orders' %>
  <%= render 'admin/dashboard/index/pending_delivery_confirmation_orders' %>
</div>

<% if @pd_confirm_orders.empty? &&
      @pd_shipment_orders.empty? &&
      @pd_pickup_orders.empty? &&
      @pd_delivery_orders.empty? %>
  <div class="row">
    <div class="col-12 jumbotron">
      <div class="d-flex justify-content-center">
        <div>
          <h5 class="mb-3"><%= t('.no_action') %></h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
