<% @pd_pickup_orders.each do |order|%>
  <div class="col-md-4">
    <div class="card bg-light mb-3">
      <div class="card-header d-flex justify-content-between">
        <div><%= t('.title') %></div>
        <%= link_to t('.confirm'), admin_order_path(order),
                                   class: 'btn btn-info btn-sm' %>
      </div>
      <div class="card-body">
        <div class="mb-2">
          <%= t('.customer_name') %>: <%= order.user.name %>
        </div>
        <strong><%= t('.shipment') %>:</strong>
        <div>
          <%= t('.pickup_readied_at') %>:
          <%= DateTime.parse(order.pickup_readied_at).strftime("%Y/%m/%d") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
