<% @pd_confirm_orders.each do |order|%>
  <div class="col-md-4">
    <div class="card bg-light mb-3">
      <div class="card-header d-flex justify-content-between">
        <div><%= t('.title') %></div>
        <%= link_to t('.review_order'), admin_order_path(order),
                                        class: 'btn btn-warning btn-sm' %>
      </div>
      <div class="card-body">
        <h5>
          <%= t('.amount') %>: <%= humanized_money_with_symbol order.total %>
        </h5>
        <div>
          <%= t('.status') %>: <%= order.status.titleize %>
        </div>
        <div>
          <%= t('.customer_name') %>: <%= order.user.name %>
        </div>
        <div>
          <%= t('.items') %>: <%= order.inventories.count %>
        </div>
      </div>
    </div>
  </div>
<% end %>
