<% if Product.out_of_stock.count > 6 %>
  <div class="row">
    <div class="col-12 jumbotron mb-3 p-2">
      <div class="d-flex justify-content-center align-content-center">
        <div>
          <strong class="mr-3">
            <%= Product.out_of_stock.count %> <%= t('.out_of_stock_products') %>
          </strong>
          <%= link_to t('.see_all'), admin_products_path(display: 'out_of_stock'),
                                 class: 'btn btn-info btn-sm' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% @oos_products.each do |product|%>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between">
          <div><%= t('.out_of_stock') %></div>
          <%= link_to t('.manage_inventories'), inventories_admin_product_path(product),
                                            class: 'btn btn-warning btn-sm' %>
        </div>
        <div class="card-body">
          <div>
            <%= t('.product_name') %>:
            <%= product.name %>
          </div>
            <%= t('.total_inventories') %>:
            <%= product.inventories.count %>
          <div>
            <%= t('.in_cart_inventories') %>:
            <%= product.inventories.in_cart.count %>
          </div>
          <div>
            <%= t('.in_order_inventories') %>:
            <%= product.inventories.in_order.count %>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @oos_products.empty? %>
  <div class="row">
    <div class="col-12 jumbotron">
      <div class="d-flex justify-content-center">
        <div>
          <h5 class="mb-3"><%= t('.no_action') %></h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
