<div class="row">
  <% @pd_withdraws.each do |transfer|%>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between">
          <div><%= t('.pending_withdraws') %></div>
          <%= link_to t('.review_withdraw'), admin_transfer_path(transfer),
                                             class: 'btn btn-warning btn-sm' %>
        </div>
        <div class="card-body">
          <div>
            <%= t('.customer_name') %>:
            <%= transfer.transferer.name %>
          </div>
          <div>
            <%= t('.amount') %>:
            <%= humanized_money_with_symbol transfer.amount %>
          </div>
          <div>
            <%= t('.processor') %>:
            <%= transfer.translated_processor %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @pd_withdraws.empty? %>
  <div class="row">
    <div class="col-12 jumbotron">
      <div class="d-flex justify-content-center">
        <div>
          <h5 class="mb-3"><%= t('.no_action') %></h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
