<div class="list-group-item flex-column">
  <div class="d-flex justify-content-between">
    <h6>Amount: <%= humanized_money_with_symbol transaction.amount %></h6>
    <h6>Referee: <%= transaction.transactable.user.name %></h6>
  </div>
  <div class="d-flex justify-content-between">
    <small class="text-muted">Note: <%= transaction.note || 'None' %></small>
  </div>
  <div class="d-flex justify-content-between">
    <small class="text-muted">Transaction ID: <%= transaction.id %></small>
    <small><%= transaction.created_at.strftime("Transacted at: %Y/%m/%d") %></small>
  </div>
</div>
