<div class="row form-group">
  <div class="col">
    <%= f.label  :recipient, t('.pickup_contact') %>
    <%= f.text_field :recipient, class: 'form-control' %>
  </div>
  <div class="col">
    <%= f.label :contact_number, t('.pickup_contact') %>
    <%= f.text_field :contact_number, class: 'form-control' %>
  </div>
</div>
<div class="row form-group">
  <div class="col-3">
    <%= f.label  :province_state, t('.province') %>
    <%= f.select :province_state,
                 options_for_select(
                 @provinces.collect { |province| [province.name, province.id] },
                 @shipping_method.address.province_state),
                 { include_blank: true }, { id: 'provinces_select',
                                            class: 'form-control' } %>
  </div>
  <div class="col-9">
    <%= f.label :street, t('.address') %>
    <%= f.text_field :street, class: 'form-control' %>
  </div>
</div>
