<%= form_with(model: [:admin, shipping_method], local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="col-md-8">
      <div class="row form-group">
        <div class="col">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.label :variety, t('.method_type') %>
          <%= f.select :variety,
                       options_for_select([[t('.no_shipping'), 'no_shipping'],
                                           [t('.delivery'), 'delivery'],
                                           [t('.self_pickup'), 'self_pickup']],
                                           shipping_method.variety),
                       {}, id: 'method_select', class: 'form-control' %>
        </div>
      </div>
      <div id="shipping_rates_section">
        <div class="jumbotron p-3 m-0">
          <strong><%= t('.geo_code_guide') %>:</strong>
          <p class="mt-3"><%= t('.geo_msg_1') %> <code>*</code> 
          <%= t('.geo_msg_2') %></p>
          <p><%= t('.geo_msg_1') %> <code>110000</code> <%= t('.geo_msg_3') %></p>
        </div>
        <h5 class="mt-3"><%= t('.shipping_rates') %></h5>
        <table class="table">
          <thead>
            <tr>
              <th><%= t('.geo_code') %></th>
              <th><%= t('.init_rate') %></th>
              <th colspan="2"><%= t('.add_on_rate') %></th>
            </tr>
          </thead>
          <tbody class="shipping_rates">
            <%= f.fields_for :shipping_rates do |shipping_rate| %>
              <%= render 'shipping_rate_fields', f: shipping_rate %>
            <% end %>
          </tbody>
        </table>
        <%= link_to_add_association t('.add_rate'), f, :shipping_rates,
                                    class: 'btn btn-success mb-3',
                                    data: { association_insertion_node: '.shipping_rates',
                                            association_insertion_method: :append } %>
      </div>

      <div id="address_section">
        <h5 class="mt-3"><%= t('.self_pickup_address') %></h5>
        <p><%= t('.self_pickup_msg') %></p>
        <div class="address">
          <%= f.fields_for :address do |address| %>
            <%= render 'address_fields', f: address %>
          <% end %>
        </div>
      </div>


      <%= f.submit t('.submit'), class: 'btn btn-primary btn-block mt-3 mb-5' %>
    </div>

    <div class="col-md-4 jumbotron">
      <h5><%= t('.cn_province_geo_code') %></h5>
      <% @provinces.each do |province| %>
        <div>
          <%= t('.geo_code') %>: <%= province.id %> | <%= province.name %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'shipping_form', 'data-turbolinks-track': 'reload' %>
