<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
    <%= link_to admin_shipping_methods_path, class: 'btn btn-secondary' do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.return') %>
    <% end %>
  </div>
  <div class="ml-2">
    <%= link_to edit_admin_shipping_method_path(@shipping_method),
                class: 'btn btn-warning' do %>
      <i class="fa fa-edit" aria-hidden="true"></i> <%= t('.edit_shipping_method') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h4 class="mb-3 mt-0"><%= t('.basic') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.name') %></th>
            <td><%= @shipping_method.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.type') %></th>
            <td><%= @shipping_method.translated_variety %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col jumbotron">
    <h4 class="mb-3 mt-0"><%= t('.method_data') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.shipping_rates') %></th>
            <td><%= @shipping_rates.count %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.pickup_address') %></th>
            <td><%= (@address.present?).to_s.titleize %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.products') %></th>
            <td><%= @shipping_method.products.count %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h4 class="mb-3 mt-0"><%= t('.shipping_rates') %></h4>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.geo_code') %></th>
            <th><%= t('.geo_name') %></th>
            <th><%= t('.init_rate') %></th>
            <th><%= t('.add_on_rate') %></th>
          </tr>
        </thead>
        <tbody>
          <% @shipping_rates.each do |rate| %>
          <tr>
            <td><%= rate.geo_code %></td>
            <td><%= Geo.find_by(id: rate.geo_code).try(:name) %></td>
            <td><%= humanized_money_with_symbol rate.init_rate %></td>
            <td><%= humanized_money_with_symbol rate.add_on_rate %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col jumbotron">
    <h4 class="mb-3 mt-0"><%= t('.self_pickup_address') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.pickup_contact') %></th>
            <td><%= @address.try(:recipient) %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.contact_number') %></th>
            <td><%= @address.try(:contact_number) %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.address') %></th>
            <td><%= @address.try(:full_address) %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
