<div class="modal fade" id="approve_<%= @transfer.id %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Approve Transfer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @transfer.alipay? %>
          <p>
            Please confrim the follow Alipay transfer.
          </p>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td><%= @transfer.transferee.name %></td>
              </tr>
              <tr>
                <th scope="row">Alipay Account</th>
                <td><%= @transfer.transferee.alipay_account %></td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td><%= humanized_money_with_symbol @transfer.amount %></td>
              </tr>
            </tbody>
          </table>
        <% elsif @transfer.bank? %>
          <p>
            Please transfer
            <strong><%= humanized_money_with_symbol @transfer.amount %></strong>
            to the following bank account. Once completed, click confirm transfer.
          </p>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td><%= @transfer.transferee.name %></td>
              </tr>
              <tr>
                <th scope="row">Bank Name</th>
                <td><%= @transfer.transferee.bank_name %></td>
              </tr>
              <tr>
                <th scope="row">Bank Branch</th>
                <td><%= @transfer.transferee.bank_branch %></td>
              </tr>
              <tr>
                <th scope="row">Bank Account</th>
                <td><%= @transfer.transferee.bank_account %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if @transfer.alipay? %>
          <%= link_to 'Automatic Transfer',
                       approve_admin_transfer_path(@transfer),
                       method: :patch, class: 'btn btn-success' %>
          <%= link_to 'Manual Transfer',
                       manual_approve_alipay_admin_transfer_path(@transfer),
                       method: :patch, class: 'btn btn-warning' %>
        <% else %>
          <%= link_to 'Confirm Transferred',
                       approve_admin_transfer_path(@transfer),
                       method: :patch, class: 'btn btn-success' %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
