<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
    <%= link_to new_admin_reward_method_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
      <%= t('.new_reward_methods') %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= render 'shared/paginate', objects: @reward_methods if @reward_methods.present? %>
  <div class="col-lg-12">
    <%= render 'admin/reward_methods/index/reward_methods' %>
  </div>
  <%= render 'shared/paginate', objects: @reward_methods if @reward_methods.present? %>
</div>
