<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
    <%= link_to admin_reward_methods_path, class: 'btn btn-secondary' do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.return') %>
    <% end %>
  </div>
  <div class="ml-2">
    <%= link_to edit_admin_reward_method_path(@reward_method),
                class: 'btn btn-warning' do %>
      <i class="fa fa-edit" aria-hidden="true"></i> <%= t('.edit_reward_method') %>
    <% end %>
  </div>
  <div class="ml-2">
    <%= link_to '#', class: 'btn btn-danger', id: "btn_del_#{@reward_method.id}",
                data: { toggle: "modal", target: "#delete_#{@reward_method.id}"} do %>
      <i class="fa fa-trash" aria-hidden="true"></i> <%= t('.delete') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h4 class="mb-3 mt-0"><%= t('.basic_properties') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.name') %></th>
            <td><%= @reward_method.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.type') %></th>
            <td><%= @reward_method.translated_variety %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col jumbotron">
    <h4 class="mb-3 mt-0"><%= t('.method_settings') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.percentage') %></th>
            <td><%= @reward_method.percentage %>%</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="delete_<%= @reward_method.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.delete_reward_method') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= t('.delele_msg') %></p>
        <ul>
          <li><%= @reward_method.name %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <%= link_to t('.confirm'), admin_reward_method_path(@reward_method),
                                   method: :delete,
                                   id: "confirm_del_#{@reward_method.id}",
                                   class: 'btn btn-danger' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('.close') %>
        </button>
      </div>
    </div>
  </div>
</div>
