<div class="col">
  <div class="jumbotron">
    <h5><%= t('.basic_info') %></h5>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th scope='row'><%= t('.member_id') %></th>
            <td><%= @customer.member_id %></td>
          </tr>
          <tr>
            <th scope='row'><%= t('.name') %></th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th scope='row'><%= t('.cell_number') %></th>
            <td><%= @customer.cell_number %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.email') %></th>
            <td><%= @customer.email %></td>
          </tr>
          <% if @customer.referer %>
          <tr>
            <th scope="row"><%= t('.referer') %></th>
            <td>
              <%= link_to @customer.referer.name, @customer.referer %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
