<div class="col">
  <div class="jumbotron">
    <h5>Basic Information</h5>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th scope='row'>Member ID</th>
            <td><%= @customer.member_id %></td>
          </tr>
          <tr>
            <th scope='row'>Name</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th scope='row'>Cell Number</th>
            <td><%= @customer.cell_number %></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
