<div class="row">
  <% @to_confirm_orders.each do |order|%>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between">
          <div>Pending Confirmation</div>
          <%= link_to 'Review Order', admin_order_path(order),
                                      class: 'btn btn-warning btn-sm' %>
        </div>
        <div class="card-body">
          <h5>
            Amount: <%= humanized_money_with_symbol order.total %>
          </h5>
          <div>
            Status: <%= order.status.titleize %>
          </div>
          <div>
            Customer Name: <%= order.user.name %>
          </div>
          <div>
            Items: <%= order.inventories.count %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% @to_ship_orders.each do |order|%>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between">
          <div>Pending Shipment</div>
          <%= link_to 'Ship Order', admin_order_path(order),
                                    class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="card-body">
          <div>
            Customer Name: <%= order.user.name %>
          </div>
          <strong>Shipment:</strong>
          <div>
            <% if get_delivery_method(order).present? %>
              Require Delivery
            <% end %>
          </div>
          <div>
            <% if get_self_pickup_method(order).present? %>
              Request Self Pickup
            <% end %>
          </div>
          <div>
            Items: <%= order.inventories.count %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @to_confirm_orders.empty? && @to_ship_orders.empty? %>
  <div class="row jumbotron">
    <div class="text-center">
      No Orders Pending Action
      <%= link_to 'All Orders', admin_orders_path, class: 'btn btn-info btn-lg' %>
    </div>
  </div>
<% end %>
