<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('.status') %></th>
      <th><%= t('.product') %></th>
      <th><%= t('.customer') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% inventories.each do |inventory| %>
    <tr>
      <td><%= link_to inventory.id, admin_inventory_path(inventory) %></td>
      <td><%= inventory.translated_status %></td>
      <td><%= inventory.product.name %></td>
      <td>
        <% if inventory.user %>
          <%= link_to inventory.user.name, admin_customer_path(inventory.user) %>
        <% end %>
      </td>
      <td>
        <%= link_to t('.detail'), admin_inventory_path(inventory),
                                  class: 'btn btn-sm btn-info' %>
      </td>
      <%= render 'action_delete', inventory: inventory %>
    </tr>
    <% end %>
  </tbody>
</table>




