<table class="table table-hover">
  <thead>
    <tr>
      <th class="w-25">Product Name</th>
      <th>Total Inventories</th>
      <th>Unsold</th>
      <th>Sold</th>
      <th>Returned</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
    <tr>
      <td><%= link_to product.name, '#' %></td>
      <td><%= product.inventories.count %></td>
      <td><%= product.inventories.unsold.count %></td>
      <td><%= product.inventories.sold.count %></td>
      <td><%= product.inventories.returned.count %></td>
      <td>
        <%= link_to "",
                    id: "",
                    class: "btn btn-sm btn-info" do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Add Inventory
        <% end %>
      </td>
      <td>
        <%= link_to "",
                    id: "",
                    class: "btn btn-sm btn-warning" do %>
          <i class="fa fa-edit" aria-hidden="true"></i> Modify Inventory
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
