<%= provide :title, 'Customers' %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
  </div>
  <div class="ml-auto">
    <%= render 'search_form' %>
  </div>
</div>

<div class="row">
  <%= render 'shared/paginate', objects: @customers if @customers.present? %>
  <div class="col-lg-12">
    <p>Customer Count: <%= @customers.total_count %></p>
    <%= render 'customers', customers: @customers %>
  </div>
  <%= render 'shared/paginate', objects: @customers if @customers.present? %>
</div>
