<% unless @order.shipping_method_mix == 'no_shipping' %>
  <div class="row">
    <div class="col-md-12">
      <h5><%= t('.shipping_summary') %></h5>
      <div class="row">
        <% if @self_pickup.present? %>
          <div class="col-md">
            <div class="jumbotron">
              <div class="mb-2"><strong><%= t('.self_pickup') %></strong></div>
              <h6>
                <%= t('.address') %>: <%= @self_pickup.address.full_address %>
              </h6>
              <h6>
                <%= t('.contact_name') %>: <%= @self_pickup.address.recipient %>
              </h6>
              <h6>
                <%= t('.contact_number') %>: <%= @self_pickup.address.contact_number %>
              </h6>
            </div>
          </div>
        <% end %>
        <% if @delivery.present? %>
          <div class="col-md">
            <div class="jumbotron">
              <div class="mb-2"><strong><%= t('.ship_to') %></strong></div>
              <h6><%= t('.address') %>: <%= @order.address.full_address %></h6>
              <h6><%= t('.recipient') %>: <%= @order.address.recipient %></h6>
              <h6>
                <%= t('.contact_number') %>: <%= @order.address.contact_number %>
              </h6>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
