<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th><%= t('.status') %></th>
    <th><%= t('.customer') %></th>
    <th><%= t('.total') %></th>
    <th></th>
  </thead>
  <tbody>
    <% if orders.present? %>
      <% orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, admin_order_path(order) %></td>
        <td><%= order.translated_status %></td>
        <td><%= link_to order.user.name, '#' %></td>
        <td>
          <% if order.status_before_type_cast >= 20 %>
            <%= humanized_money_with_symbol order.total %>
          <% else %>
            <%= humanized_money_with_symbol order.pre_confirm_total %>
          <% end %>
        </td>
        <td>
          <%= link_to t('.detail'), admin_order_path(order), class: 'btn btn-info btn-sm' %>
        </td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5"><%= t('.no_match') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
