<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div><%= render 'admin/orders/shared/filter' %></div>
  <div class="ml-auto">
    <%= render 'admin/orders/shared/search_form' %>
  </div>
</div>

<div class="row">
  <%= render 'shared/paginate', objects: @orders if @orders.present? %>
  <div class="col-lg-12">
    <p><%= t('.order_count') %>: <%= @orders.total_count %></p>
    <%= render 'admin/orders/shared/orders', orders: @orders %>
  </div>
  <%= render 'shared/paginate', objects: @orders if @orders.present? %>
</div>
