<%= provide :title, 'Order' %>

<%= render 'admin/orders/action_control' %>

<div class="row">
  <%= render 'admin/orders/show/basic' %>
</div>
<div class="row">
  <%= render 'admin/orders/show/inventories' %>
</div>
<div class="row">
  <%= render 'admin/orders/show/shipment' %>
</div>
<div class="row">
  <%= render 'admin/orders/show/payment' %>
</div>
<div class="row">
  <%= render 'admin/orders/show/transaction' %>
</div>
