<div class="container">

  <%= form_for @user do |f| %>
    <%= f.text_field :ident %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit %>
  <% end %>

</div>
