<footer class="text-muted mt-5">
  <div class="container">
    <div class="d-flex justify-content-between mb-3">
      <div>
        <%= Time.now.year %> <%= app_title %>
      </div>
      <div>
        <a href="#"><%= t('.back_to_top') %></a>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3 mb-3">
      <div>
        <%= form_with(url: prefer_locale_path, local: true) do |f| %>
          <%= f.hidden_field :return_back, value: true %>
          <%= f.select :locale, options_for_select(
              [['简体中文', 'zh-CN'], ['English', 'en-US']]),
              { prompt: 'Switch Language / 切换语言' },
              class: 'form-control form-control-sm',
              onchange: 'this.form.submit();' %>
        <% end %>
      </div>
      <div>
        <small>
          <%= sprintf('%.3f', (Time.zone.now - @init_time) * 1000) %> ms
        </small>
      </div>
    </div>
  </div>
</footer>
