<div class="card h-100" id="product_<%= product.id %>">
  <%= image_tag product.cover_image.image_url(:thumb), class: 'card-img-top' %>
  <div class="card-body">
    <h4 class="card-title">
      <div class="row">
        <div class="col-auto mr-auto mt-1">
          <%= link_to product.name, product_path(product) %>
        </div>
        <div class="col-auto mt-1">
          <%= humanized_money_with_symbol(product.price_member) %>
        </div>
      </div>
    </h4>
    <p class="card-text">
      <%= product.introduction.html_safe %>
    </p>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col mb-1 mt-1">
        <%= link_to product_path(product), class: 'btn btn-info btn-block' do %>
          <i class="fa fa-columns" aria-hidden="true"></i>
          Detail
        <% end %>
      </div>
      <div class="col mb-1 mt-1">
        <% if product.in_stock? %>
          <%= button_to add_to_cart_path(pid: product.id),
                      class: 'btn btn-success btn-block' do %>
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Add to Cart
          <% end %>
        <% else %>
          <%= link_to '#', class: 'btn btn-success btn-block disabled' do %>
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Out of Stock
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
