<%= provide :title, 'Edit Profile' %>

<%= render 'shared/header_breadcrumb', title: yield(:title) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/navigation/customer/sidenav' %>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          <%= yield(:title) %>
        </div>
        <div class="card-body">
          <%= form_with(model: @user, local: true, method: :patch) do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <h5>Basic Information</h5>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group row">
              <div class="col-md">
                <%= f.label :cell_number, 'Cell Number' %>
                <%= f.text_field :cell_number, class: 'form-control' %>
              </div>

              <div class="col-md">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :referer_id,
                          "Referer #{@customer.try(:referer).try(:name)}" %>
              <%= f.text_field :referer_id, class: 'form-control' %>
            </div>

            <h5>Financial Information</h5>
            <div class="form-group">
              <%= f.label :alipay_account, 'Alipay Account' %>
              <%= f.text_field :alipay_account, class: 'form-control' %>
            </div>

            <div class="form-group row">
              <div class="col-md">
                <%= f.label :bank_name, 'Bank Name' %>
                <%= f.text_field :bank_name, class: 'form-control' %>
              </div>

              <div class="col-md">
                <%= f.label :bank_branch, 'Bank Branch' %>
                <%= f.text_field :bank_branch, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :bank_account, 'Bank Account' %>
              <%= f.text_field :bank_account, class: 'form-control' %>
            </div>

            <h5>Leave Blank To Leave Unchanged</h5>
            <div class="form-group row">
              <div class="col-md">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="col-md">
                <%= f.label :password_confirmation, 'Password Confirmation' %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            </div>

            <%= f.submit 'Update Profile', class: 'btn btn-block btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
