<% @payment_process_orders.each do |order|%>
  <div class="col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div><%= t('.unpaid_order') %></div>
        <%= link_to t('.pay'), resume_order_path(order),
                           class: 'btn btn-primary btn-sm' %>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <strong>
            <%= t('.unpaid_amount') %>: <%= humanized_money_with_symbol order.amount_unpaid %>
          </strong>
        </div>
        <h6><%= t('.items') %>: <%= order.inventories.count %></h6>
        <h6><%= t('.order_status') %>: <%= order.translated_status %></h6>
      </div>
    </div>
  </div>
<% end %>
