<% @shipment_orders.each do |order|%>
  <div class="col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>Order In Transit</div>
        <%= link_to 'Check Detail', order_path(order),
                                    class: 'btn btn-info btn-sm' %>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <strong>
            Status: <%= order.status.titleize %>
          </strong>
        </div>
        <% if get_self_pickup_method(order).present? %>
          <div>
            Pickup Address:
            <%= get_self_pickup_method(order).address.full_address %>
          </div>
          <div>
            Pickup Readied At:
            <% if order.pickup_readied_at %>
              <%= DateTime.parse(order.pickup_readied_at).strftime("%Y/%m/%d") %>
            <% else %>
              Order Processing
            <% end %>
          </div>
        <% end %>
        <% if get_delivery_method(order).present? %>
          <div>
            Tracking Number:
            <%= order.shipping_company %>
            <%= order.tracking_number || "Pending" %>
          </div>
          <div>
            Shipped At:
            <% if order.shipping_completed_at %>
              <%= DateTime.parse(order.shipping_completed_at).strftime("%Y/%m/%d") %>
            <% else %>
              Order Processing
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
