<%= provide :title, 'Address' %>

<div class="container">
  <%= render 'progress', steps: ['success', 'info']  %>
  <div class="card mt-3">
    <div class="card-header">
      <%= yield(:title) %>
    </div>
    <div class="card-body">
      <%= render '/orders/address/self_pickup' if @self_pickups.present? %>
      <%= render '/orders/address/deliveries' if @deliveries.present? %>
      <%= render '/orders/address/action_control' %>
    </div>
  </div>
</div>
