<%= provide :title, t('.payment') %>

<div class="container">
  <%= render 'progress', steps: ['success', 'success', 'success', 'info']  %>
  <div class="card mt-3">
    <div class="card-header">
      <%= yield(:title) %>
    </div>
    <div class="card-body">
      <%= render '/orders/payment/status' %>
      <%= render '/orders/payment/wallet' %>
      <%= render '/orders/payment/alipay' %>
    </div>
  </div>
</div>
