<%= provide :title, t('.review') %>

<div class="container">
  <%= render 'progress', steps: ['success', 'success', 'info']  %>
  <div class="card mt-3">
    <div class="card-header">
      <%= yield(:title) %>
    </div>
    <div class="card-body">
      <%= render '/orders/review/charge_summary' %>
      <%= render '/orders/review/shipping_summary' %>
      <%= render '/orders/review/action_control' %>
    </div>
  </div>
</div>
