<nav class="col-sm-3 col-md-2 d-sm-block sidebar">
  <h1 class="site-title">Flex Commerce</h1>
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
    <em class="fa fa-bars"></em>
  </a>
  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item">
      <%= link_to admin_dashboard_index_path,
                  class: "nav-link #{active_controller?('dashboard')}" do %>
        <em class="fa fa-dashboard"></em> Dashboard
      <% end %>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item">
      <%= link_to admin_orders_path,
                  class: "nav-link #{active_controller?('orders')}" do %>
       <em class="fa fa-file"></em> Orders</a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_products_path,
                  class: "nav-link #{active_controller?('products')}" do %>
       <em class="fa fa-industry"></em> Products</a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_inventories_path,
                  class: "nav-link #{active_controller?('inventories')}" do %>
       <em class="fa fa-archive"></em> Inventories</a>
      <% end %>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item">
      <%= link_to admin_categories_path,
                  class: "nav-link #{active_controller?('categories')}" do %>
       <em class="fa fa-list-ul"></em> Categories</a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_images_path,
                  class: "nav-link #{active_controller?('images')}" do %>
       <em class="fa fa-picture-o"></em> Images</a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_shipping_methods_path,
                  class: "nav-link #{active_controller?('shipping_methods')}" do %>
       <em class="fa fa-truck"></em> Shipping Method</a>
      <% end %>
    </li>
  </ul>
  <%= link_to root_url, class: 'logout-button hidden-xs-down' do %>
    <em class="fa fa-arrow-left"></em> Front Page</a>
  <% end %>
</nav>
