<%= provide :title, t('.title') %>

<%= render 'shared/header_breadcrumb', title: yield(:title) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/navigation/customer/sidenav' %>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          <%= yield(:title) %>
        </div>
        <div class="card-body">
          <div class="jumbotron">
            <h6>
              <%= t('.withdrawable_amount') %>:
              <%= humanized_money_with_symbol @user.wallet.withdrawable %>
            </h6>
          </div>
          <%= render 'wallets/new_withdraw/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
