<tr>
  <td>
    <h5><%= product.name %></h5>
    <p>Brand: <%= product.categories.brands.first.try(:name) %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price_member %>
  </td>
  <td>
    <%= render 'quantity_control', product: product %>
  </td>
  <td>
    <%= humanized_money_with_symbol @current_cart.subtotal(product) %>
  </td>
  <%= render 'action_control', product: product %>
</tr>
