<%= provide :title, 'Shopping Cart' %>
<%= render 'shared/header_breadcrumb', title: yield(:title) %>

<div class="container mt-3">
  <% if @current_cart.inventories.empty? %>
    <div class="jumbotron text-center">
      <h5>YOUR SHOPPING CART IS EMPTY</h5>
    </div>
  <% else %>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @current_cart.products.each do |product| %>
          <%= render 'product', product: product %>
        <% end %>
        <tr>
          <td colspan="2"></td>
          <td class="text-right">
            <strong>Total: </strong>
          </td>
          <td colspan="2">
            <%= humanized_money_with_symbol @current_cart.total %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-end mt-5">
      <div class="p-2">
        <%= button_to 'Checkout', orders_path(cart_id: @current_cart.id),
                                  class: "btn btn-success btn-lg",
                                  data: { disable_with: 'Checking Out...'} %>
      </div>
    </div>
  <% end %>
</div>


<%= javascript_include_tag 'product_cart', 'data-turbolinks-track': 'reload' %>
