<td>
  <%= link_to t('.detail'), admin_reward_method_path(reward_method),
                            class: 'btn btn-info btn-sm' %>
</td>
<td>
  <%= link_to t('.edit'), edit_admin_reward_method_path(reward_method),
                          class: 'btn btn-warning btn-sm' %>
</td>
<td>
  <%= link_to t('.delete'), '#', class: 'btn btn-sm btn-danger',
              id: "btn_del_#{reward_method.id}",
              data: { toggle: "modal", target: "#delete_#{reward_method.id}"} %>
</td>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="delete_<%= reward_method.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.delete_reward_method') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= t('.confirm_del_msg') %></p>
        <ul>
          <li><%= reward_method.name %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <%= link_to t('.confirm'), admin_reward_method_path(reward_method),
                               method: :delete,
                               id: "confirm_del_#{reward_method.id}",
                               class: 'btn btn-danger' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('.close') %>
        </button>
      </div>
    </div>
  </div>
</div>
