<div class="jumbotron row">
  <div class="col-md-3">
    <div class="text-center">
      <i class="fa fa-2x fa-building" aria-hidden="true"></i>
    </div>
    <div class="text-center mb-2"><%= t('.self_pickup') %></div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <% @self_pickups.each do |product| %>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= product.name %></h5>
                <small>
                  <%= t('.quantity') %>: <%= @order.inventories_by(product).count %>
                </small>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-5">
        <strong><%= t('.customer_contact') %>: </strong>
        <%= @order.pick_up_address.recipient %>
      </div>

      <div class="col-md-12 mt-2">
        <strong><%= t('.contact_number') %>: </strong>
        <%= @order.pick_up_address.contact_number %>
      </div>
      <div class="col-md-12 mt-2">
        <strong><%= t('.pickup_at') %>: </strong>
        <%= @order.pick_up_address.full_address %>
      </div>
    </div>
  </div>
</div>
