<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h5><%= t('.pay_with_alipay') %></h5>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row" class="w-50"><%= t('.alipay_payment') %>: </th>
                <td class="text-left">
                  <%= humanized_money_with_symbol @order.amount_unpaid %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <%= image_tag '/site_imgs/alipay.png', class: 'mb-3' %>
          <%= button_to t('.pay_with_alipay'), alipay_payment_order_path,
                                               class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
