<%= form_with(url: create_wallet_payment_order_path, local: true) do |f| %>
  <div class="form-group row">
    <%= f.label :amount, 'Pay in Full: ', class: 'col-sm-4 col-form-label' %>
    <div class="col-sm-8">
      <%= f.number_field :amount, value: @order.amount_unpaid,
                                  class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :custom_amount, 'Custom Amount: ', class: 'col-sm-4 col-form-label' %>
    <div class="col-sm-8">
      <%= f.number_field :custom_amount, step: 0.01, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Pay with Wallet', class: 'btn btn-success btn-lg',
                                  disabled: @current_user.wallet.available_fund == 0 %>

<% end %>
