<div class="card">
  <div class="card-header">
    <%= t('.header') %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <div class="mb-3">
          <%= link_to show_withdraws_wallet_path, class: 'btn btn-secondary' do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <%= t('.return') %>
          <% end %>
        </div>
        <div class="jumbotron">
      <h4 class="mb-3 mt-0"<%= t('.detail') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.withdraw_id') %></th>
            <td><%= @transfer.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.amount') %></th>
            <td><%= humanized_money_with_symbol @transfer.amount %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.current_status') %></th>
            <td><strong><%= @transfer.status.titleize %></strong></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.withdraw_to') %></th>
            <td><%= @transfer.processor.titleize %></td>
          </tr>
          <% if @transfer.bank? %>
            <tr>
              <th scope="row"><%= t('.bank_name') %></th>
              <td><%= @transfer.transferee.bank_name %></td>
            </tr>
            <tr>
              <th scope="row"><%= t('.bank_branch') %></th>
              <td><%= @transfer.transferee.bank_branch %></td>
            </tr>
            <tr>
              <th scope="row"><%= t('.bank_account') %></th>
              <td><%= @transfer.transferee.bank_account %></td>
            </tr>
          <% end %>
          <% if @transfer.alipay? %>
            <tr>
              <th scope="row"><%= t('.alipay_account') %></th>
              <td><%= @transfer.transferee.alipay_account %></td>
            </tr>
          <% end %>
          <tr>
            <th scope="row"><%= t('.last_update') %></th>
            <td><%= time_ago_in_words @transfer.updated_at %></td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
    </div>
  </div>
</div>
