<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent Category</th>
      <th># of Child Categoreis</th>
      <th>Display Order</th>
      <th>Hidden</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td>
          <% if cat.parent %>
            <%= cat.parent.name %>
          <% else %>
            None
          <% end %>
        </td>
        <td><%= cat.child_categories.count %></td>
        <td><%= cat.display_order %></td>
        <td><%= cat.hide %></td>
        <td>
          <%= link_to 'Add Child Category',
                      new_admin_category_path(parent_id: cat.id),
                      class: "btn btn-sm btn-info" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_category_path(cat),
                      class: "btn btn-sm btn-warning" %>
        </td>
        <td>
          <%= link_to 'Delete', '#', class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
