<%= form_with(model: [:admin, category], local: true) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <% if params[:regular] || f.object.parent_id %>
      <%= f.label :parent_id, 'Parent Category (Leave empty to create top level menu)' %>
      <%= f.number_field :parent_id, class: 'form-control' %>
    <% elsif params[:parent_id] %>
      <%= f.label :parent_id, 'Parent Category' %>
      <%= f.number_field :parent_id, value: params[:parent_id].to_i,
                                     class: 'form-control',
                                     readonly: true %>
    <% elsif params[:brand] %>
      <%= f.hidden_field :flavor, value: 'brand' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :display_order, 'Display Order' %>
    <%= f.number_field :display_order, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :hide, 'Hidden Category' %>
    <%= f.select :hide, options_for_select([['False', 0], ['True', 1]]),
                 {}, class: "form-control" %>
  </div>

  <%= f.submit class: 'btn btn-block btn-primary' %>
<% end %>
