<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
    <%= link_to admin_categories_path, class: 'btn btn-info' do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.return_to_list') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.category_name') %></th>
            <td><%= @category.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.display_order') %></th>
            <td><%= @category.display_order %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.hidden_category') %></th>
            <td><%= I18n.t @category.hide %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.category_type') %></th>
            <td><%= @category.translated_flavor %></td>
          </tr>
          <% unless @category.parent.nil? %>
            <tr>
              <th scope="row"><%= t('.parent_category_name') %></th>
              <td><%= @category.parent.name %></td>
            </tr>
            <tr>
              <th scope="row"><%= t('.parent_category_id') %></th>
              <td><%= @category.parent.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col">
    <div class="jumbotron">
      <h4><%= t('.child_categories') %></h4>
      <% if @category.child_categories.empty? %>
        <p><%= t('.no_child_cats') %></p>
      <% else %>
        <ul>
          <% @category.child_categories.each do |c| %>
            <li><%= link_to c.name, admin_category_path(c) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
