<%= form_with(model: [:admin, product], local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <h4>Basic Properties</h4>
  <hr \>
  <div class="row form-group">
    <div class="col-sm-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="col-sm-6">
      <%= f.label :tag_line %>
      <%= f.text_field :tag_line, class: 'form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6">
      <div class="mb-2">
        <%= f.label :sku, 'SKU' %>
        <%= f.text_field :sku, class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col">
          <%= f.label :strict_inventory, 'Enforce Strict Inventory' %>
          <%= f.select :strict_inventory, options_for_select([['False', 0],
                                                             ['True',  1]]),
                                          {}, class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.label :digital, 'Set As Digital Product' %>
          <%= f.select :digital, options_for_select([['False', 0],
                                                     ['True',  1]]),
                                 {}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <%= f.label :introduction %>
      <%= f.trix_editor :introduction, class: 'trix-content form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <%= f.label :description %>
      <%= f.trix_editor :description, class: 'trix-content form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <%= f.label :specification %>
      <%= f.trix_editor :specification, class: 'trix-content form-control' %>
    </div>
  </div>

  <h4 class='mt-5'>Pricing and Shopping</h4>
  <hr \>

  <div class="row form-group">
    <div class="col-sm-3">
      <%= f.label :price_member, 'Member Price' %>
      <%= f.number_field :price_member, step: :any, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :price_reward, 'Reward Price' %>
      <%= f.number_field :price_reward, step: :any, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :price_market, 'Market Price' %>
      <%= f.number_field :price_market, step: :any, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :cost, 'Cost' %>
      <%= f.number_field :cost, step: :any, class: 'form-control' %>
    </div>
  </div>

  <h4 class="mt-5">Categories</h4>
  <hr \>

  <div class="row form-group">
    <div class="col-sm-6">
      <%= f.label :category_ids, "Select Categories" %>
      <%= f.collection_select :category_ids, Category.regular, :id, :name, {},
                              { multiple: true, class: 'form-control' } %>
    </div>
    <div class="col-sm-6">
      <%= f.label :category_ids, "Select Special Categoies" %>
      <%= f.collection_select :category_ids, Category.special, :id, :name, {},
                              { multiple: true, class: 'form-control' } %>
    </div>
  </div>

  <h4 class="mt-5">Images</h4>
  <hr \>
  <div class=''>
    <%= f.fields_for :images do |image_form| %>
      <%= render 'image_fields', f: image_form %>
    <% end %>
  </div>

  <%= link_to_add_fields "Add Image", f, :images, {class: 'btn btn-success'} %>

  <%= f.submit class: 'btn btn-block btn-primary mb-5' %>

<% end %>
