<%= form_with(model: [:admin, product], local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <h4><%= t('.basic') %></h4>
  <hr \>
  <div class="row form-group">
    <div class="col-sm-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="col-sm-6">
      <%= f.label :tag_line %>
      <%= f.text_field :tag_line, class: 'form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3">
      <%= f.label :status, t('.status') %>
      <%= f.select :status, options_for_select([[t('active'),  'active'],
                                                [t('disable'), 'disabled']]),
                            {}, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :weight, t('.weight') %>
      <%= f.number_field :weight, step: :any, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :shipping_method_ids, t('.select_shipping') %>
      <%= f.collection_select :shipping_method_ids, ShippingMethod.all,
                              :id, :name, {},
                              { multiple: true, class: 'form-control',
                                id: 'shipping_method_select' } %>
    </div>
    <div class="col-sm-3">
      <%= f.label :reward_method_ids, t('.select_reward') %>
      <%= f.collection_select :reward_method_ids, RewardMethod.all,
                              :id, :name, {},
                              { multiple: true, class: 'form-control',
                                id: 'reward_method_select' } %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6">
      <div class="mb-2">
        <%= f.label :sku, t('.sku') %>
        <%= f.text_field :sku, class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col">
          <%= f.label :strict_inventory, t('.enforce_strict_inventory') %>
          <%= f.select :strict_inventory, options_for_select(
                                            [[t('.false_opt'), 0],
                                             [t('.true_opt'),  1]]),
                                          {}, class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.label :digital, t('.set_as_digital') %>
          <%= f.select :digital, options_for_select([[t('.false_opt'), 0],
                                                     [t('.true_opt'),  1]]),
                                 {}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <%= f.label :introduction %>
      <%= f.trix_editor :introduction, input: 'introduction',
                                       class: 'trix-content form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <%= f.label :description %>
      <%= f.trix_editor :description, input: 'description',
                                      class: 'trix-content form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <%= f.label :specification %>
      <%= f.trix_editor :specification, input: 'specification',
                                        class: 'trix-content form-control' %>
    </div>
  </div>

  <h4 class='mt-5'><%= t('.pricing') %></h4>
  <hr \>

  <div class="row form-group">
    <div class="col-sm-3">
      <%= f.label :price_member, t('.member_price') %>
      <%= f.number_field :price_member, step: :any, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :price_reward, t('.reward_price') %>
      <%= f.number_field :price_reward, step: :any, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :price_market, t('.market_price') %>
      <%= f.number_field :price_market, step: :any, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :cost, t('.cost') %>
      <%= f.number_field :cost, step: :any, class: 'form-control' %>
    </div>
  </div>

  <h4 class="mt-5"><%= t('.categories') %></h4>
  <hr \>

  <div class="row form-group">
    <div class="col-sm-4">
      <%= f.label :category_ids, t('.select_categories') %>
      <%= f.collection_select :category_ids, Category.regular, :id, :name, {},
                              { multiple: true, class: 'form-control',
                                id: 'reg_cat_sel' } %>
    </div>
    <div class="col-sm-4">
      <%= f.label :category_ids, t('.select_brand_categories') %>
      <%= f.collection_select :category_ids, Category.brand, :id, :name, {},
                              { multiple: true, class: 'form-control',
                                id: 'brand_cat_sel' } %>
    </div>
    <div class="col-sm-4">
      <%= f.label :category_ids, t('.select_special_categories') %>
      <%= f.collection_select :category_ids, Category.special, :id, :name, {},
                              { multiple: true, class: 'form-control',
                                id: 'spc_cat_sel' } %>
    </div>
  </div>

  <h4 class="mt-5"><%= t('.images') %></h4>
  <hr \>
  <div class='images'>
    <%= f.fields_for :images do |image_form| %>
      <%= render 'image_fields', f: image_form %>
    <% end %>
  </div>

  <%= link_to_add_association t('.add_image'), f, :images, class: 'btn btn-success mb-3',
                              data: { association_insertion_node: '.images',
                              association_insertion_method: :append } %>

  <%= f.submit class: 'btn btn-block btn-primary mb-5',
               data: { disable_with: t('.one_moment') } %>

<% end %>

<%= stylesheet_link_tag    'trix', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'trix', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'product_form', 'data-turbolinks-track': 'reload' %>
