<table class="table table-hover">
  <thead>
    <tr>
      <th class="w-25">Name</th>
      <th>SKU</th>
      <th>Member Price</th>
      <th>Stock</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
    <tr>
      <td>
        <%= link_to product.name, admin_product_path(product) %>
      </td>
      <td>
        <%= product.sku %>
      </td>
      <td>
        <%= humanized_money_with_symbol(product.price_market) %>
      </td>
      <td>
        <%= product.inventories.available.count %>
      </td>
      <td>
        <%= product.inventories.sold.count %>
      </td>
      <%= render 'action_control', product: product %>
    </tr>
    <% end %>
  </tbody>
</table>
