<%= provide :title, 'Products' %>

<div class="d-flex justify-content-start mb-3">
  <div class="p-2">
    <%= link_to new_admin_product_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
      New Product
    <% end %>
  </div>
  <div class="p-2">
    <%= render 'filter' %>
  </div>
  <div class="ml-auto p-2">
    <%= render 'search_form' %>
  </div>
</div>

<div class="row">
  <%= render 'shared/paginate', objects: @products if @products.present? %>
  <div class="col-lg-12">
    <p>Product Count: <%= @products.total_count  %></p>
  </div>
  <div class="col-lg-12">
    <%= render 'products', products: @products %>
  </div>
  <%= render 'shared/paginate', objects: @products if @products.present? %>
</div>
