<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
    <%= link_to admin_product_path(@product), class: 'btn btn-secondary' do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.return') %>
    <% end %>
    <%= link_to '#', class: 'btn btn-primary',
                data: { toggle: "modal", target: "#add_inventories"} do %>
      <i class="fa fa-plus" aria-hidden="true"></i> <%= t('.add_invs') %>
    <% end %>
    <%= link_to '#', class: 'btn btn-danger',
                data: { toggle: "modal", target: "#delete_inventories"} do %>
      <i class="fa fa-minus" aria-hidden="true"></i> <%= t('.delete_invs') %>
    <% end %>
  </div>
</div>

<nav class="nav nav-pills nav-justified" id="inventoriesTab" role="tablist">
  <a class="nav-item nav-link active" id="nav-total-tab" data-toggle="tab"
     href="#nav-total" role="tab" aria-controls="nav-total" aria-expanded="true">
    <%= t('.total') %> (<%= @inventories.count %>)
  </a>
  <a class="nav-item nav-link" id="nav-unsold-tab" data-toggle="tab"
     href="#nav-unsold" role="tab" aria-controls="nav-unsold">
    <%= t('.unsold') %> (<%= @inventories.unsold.count %>)
  </a>
  <a class="nav-item nav-link" id="nav-in-cart-tab" data-toggle="tab"
     href="#nav-in-cart" role="tab" aria-controls="nav-in-cart">
    <%= t('.in_cart') %> (<%= @inventories.in_cart.count %>)
  </a>
  <a class="nav-item nav-link" id="nav-in-order-tab" data-toggle="tab"
     href="#nav-in-order" role="tab" aria-controls="nav-in-order">
    <%= t('.in_order') %> (<%= @inventories.in_order.count %>)
  </a>
  <a class="nav-item nav-link" id="nav-in-checkout-tab" data-toggle="tab"
     href="#nav-in-checkout" role="tab" aria-controls="nav-in-checkout">
    <%= t('.in_checkout') %> (<%= @inventories.in_checkout.count %>)
  </a>
  <a class="nav-item nav-link" id="nav-sold-tab" data-toggle="tab"
     href="#nav-sold" role="tab" aria-controls="nav-sold">
    <%= t('.sold') %> (<%= @inventories.sold.count %>)
  </a>
  <a class="nav-item nav-link" id="nav-returned-tab" data-toggle="tab"
     href="#nav-returned" role="tab" aria-controls="nav-returned">
    <%= t('.returned') %> (<%= @inventories.returned.count %>)
  </a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-total" role="tabpanel"
       aria-labelledby="nav-total-tab">
    <%= render 'inventories_list', inventories: @inventories %>
  </div>
  <div class="tab-pane fade" id="nav-unsold" role="tabpanel"
       aria-labelledby="nav-unsold-tab">
    <%= render 'inventories_list', inventories: @inventories.unsold %>
  </div>
  <div class="tab-pane fade" id="nav-in-cart" role="tabpanel"
       aria-labelledby="nav-in-cart-tab">
    <%= render 'inventories_list', inventories: @inventories.in_cart %>
  </div>
  <div class="tab-pane fade" id="nav-in-order" role="tabpanel"
       aria-labelledby="nav-in-order-tab">
    <%= render 'inventories_list', inventories: @inventories.in_order %>
  </div>
  <div class="tab-pane fade" id="nav-in-checkout" role="tabpanel"
       aria-labelledby="nav-in-checkout-tab">
    <%= render 'inventories_list', inventories: @inventories.in_checkout %>
  </div>
  <div class="tab-pane fade" id="nav-sold" role="tabpanel"
       aria-labelledby="nav-sold-tab">
    <%= render 'inventories_list', inventories: @inventories.sold %>
  </div>
  <div class="tab-pane fade" id="nav-returned" role="tabpanel"
       aria-labelledby="nav-returned-tab">
    <%= render 'inventories_list', inventories: @inventories.returned %>
  </div>
</div>

<!-- Add Inventories Modal -->
<div class="modal fade" id="add_inventories">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.add_invs') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(url: add_inventories_admin_product_path(@product),
                    local: true) do |form| %>
      <div class="modal-body">
        <div class="form-group row">
          <%= form.label :amount, t('.amount'), class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= form.number_field :amount, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= form.submit t('.submit'), class: 'btn btn-primary' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('.close') %>
        </button>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Delete Inventories Modal -->
<div class="modal fade" id="delete_inventories">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.delete_invs') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <%= t('.delete_msg') %>
          <strong>
            <a href="#force_delete_inventories" data-toggle="modal"
               data-dismiss="modal">
              <%= t('.force_delete') %>
            </a>
          </strong>
        </div>
      <div class="mb-3">
        <%= t('.unsold_inventories') %>: <strong><%= @inventories.unsold.count %></strong>
      </div>
      <%= form_with(url: remove_inventories_admin_product_path(@product),
                   local: true, id: 'del_inv', method: :patch) do |form| %>
        <div class="form-group row">
          <%= form.label :amount, t('.amount'), class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= form.number_field :amount, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= form.submit t('.delete'), class: 'btn btn-danger' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('.close') %>
        </button>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Force Delete Inventories Modal -->
<div class="modal fade" id="force_delete_inventories">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.force_delete_inventories') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <%= t('.deleteable_inventories') %>: <strong><%= @inventories.destroyable.count %></strong>
        </div>
      <%= form_with(url: force_remove_inventories_admin_product_path(@product),
                    local: true, id: 'f_del_inv', method: :patch) do |form| %>
        <div class="form-group row">
          <%= form.label :amount, t('.amount'), class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= form.number_field :amount, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= form.submit t('.force_delete_btn'), class: 'btn btn-danger' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('.close') %>
        </button>
      <% end %>
      </div>
    </div>
  </div>
</div>
