<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
    <%= link_to admin_products_path, class: 'btn btn-secondary' do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.return') %>
    <% end %>
    <%= link_to edit_admin_product_path(@product), class: 'btn btn-warning' do %>
      <i class="fa fa-edit" aria-hidden="true"></i> <%= t('.edit') %>
    <% end %>
    <%= link_to inventories_admin_product_path(@product), class: 'btn btn-info' do %>
      <i class="fa fa-archive" aria-hidden="true"></i> <%= t('.man_invs') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h4 class="mb-3 mt-0"><%= t('.basic') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td><%= @product.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.name') %></th>
            <td><%= @product.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.tag_line') %></th>
            <td><%= @product.tag_line %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.sku') %></th>
            <td><%= @product.sku %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.weight') %></th>
            <td><%= @product.weight %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.status') %></th>
            <td><%= @product.translated_status %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.strict_inventory') %></th>
            <td><%= I18n.t @product.strict_inventory %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.digital_product') %></th>
            <td><%= I18n.t @product.digital %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.categories') %></th>
            <td>
              <ul>
              <% @product.categories.each do |category| %>
                <li><%= category.name %></li>
              <% end %>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row"><%= t('.shipping_methods') %></th>
            <td>
              <ul>
              <% @product.shipping_methods.each do |shipping_method| %>
                <li><%= shipping_method.name %></li>
              <% end %>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row"><%= t('.reward_methods') %></th>
            <td>
              <ul>
              <% @product.reward_methods.each do |reward_method| %>
                <li><%= reward_method.name %></li>
              <% end %>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col">
    <div class="jumbotron">
      <h4 class="mb-3 mt-0"><%= t('.pricing') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.market_price') %></th>
            <td><%= humanized_money_with_symbol(@product.price_market) %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.member_price') %></th>
            <td><%= humanized_money_with_symbol(@product.price_member) %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.reward_price') %></th>
            <td><%= humanized_money_with_symbol(@product.price_reward) %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.cost') %></th>
            <td><%= humanized_money_with_symbol(@product.cost) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h5 class="mb-3"><%= t('.inventories') %></h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center"><%= t('.total_inventories') %></th>
            <th class="text-center"><%= t('.unsold') %></th>
            <th class="text-center"><%= t('.in_cart') %></th>
            <th class="text-center"><%= t('.in_order') %></th>
            <th class="text-center"><%= t('.in_checkout') %></th>
            <th class="text-center"><%= t('.sold') %></th>
            <th class="text-center"><%= t('.returned') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><%= @product.inventories.count %></td>
            <td class="text-center"><%= @product.inventories.unsold.count %></td>
            <td class="text-center"><%= @product.inventories.in_cart.count %></td>
            <td class="text-center"><%= @product.inventories.in_order.count %></td>
            <td class="text-center"><%= @product.inventories.in_checkout.count %></td>
            <td class="text-center"><%= @product.inventories.sold.count %></td>
            <td class="text-center"><%= @product.inventories.returned.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h5 class="mb-3"><%= t('.introduction') %></h5>
      <%= @product.introduction.html_safe %>
    </div>
  </div>
  <div class="col-12">
    <div class="jumbotron">
      <h5 class="mb-3"><%= t('.specification') %></h5>
      <%= @product.specification.html_safe %>
    </div>
  </div>
  <div class="col-12">
    <div class="jumbotron">
      <h5 class="mb-3"><%= t('.description') %></h5>
      <%= @product.description.html_safe %>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h5 class="mb-3"><%= t('.attached_images') %></h5>
      <% if @product.images.attachment.empty? %>
        <p><%= t('.no_image') %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @product.images.attachment.each do |image| %>
      <div class="col-4">
        <p><%= image.title %></p>
        <p><%= image_tag(image.image_url(:thumb)) %></p>
        <p>
          <%= link_to t('.view'), admin_image_path(image),
                                  class: 'btn btn-sm btn-info' %>
          <% if image.source_channel == 'attachment' %>
            <%= link_to t('.delete'), admin_image_path(image, return_back: true),
                                      method: :delete,
                                      class: 'btn btn-sm btn-danger',
                                      data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h5 class="mb-3"><%= t('.editor_image_files') %></h5>
      <% if @product.images.editor.empty? %>
        <p><%= t('.no_image') %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @product.images.editor.each do |image| %>
      <div class="col">
        <p><%= image.title %></p>
        <p><%= image_tag(image.image_url(:thumb)) %></p>
        <p>
          <%= link_to t('.view'), admin_image_path(image),
                                  class: 'btn btn-sm btn-info' %>
          <% if image.source_channel == 'attachment' %>
            <%= link_to t('.delete'), admin_image_path(image, return_back: true),
                                      method: :delete,
                                      class: 'btn btn-sm btn-danger',
                                      data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
