<% if @order.status_before_type_cast <= 20  %>
  <h5><%= t('.order_actions') %></h5>
  <div class="mb-3">
    <%= link_to resume_order_path(@order), class: 'btn btn-success' do %>
      <i class="fa fa-play" aria-hidden="true"></i> <%= t('.resume_order') %>
    <% end %>
    <%= link_to @order, class: 'btn btn-danger', method: :delete do %>
      <i class="fa fa-trash" aria-hidden="true"></i> <%= t('.cancel_order') %>
    <% end %>
  </div>
<% end %>
