<% unless @order.shipping_method_mix == 'no_shipping' %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% if @self_pickup.present? %>
          <div class="col-md">
            <div class="jumbotron">
              <div class="mb-2">
                <strong><%= t('.pickup_address') %></strong>
              </div>
              <h6>
                <%= t('.address') %>: <%= @self_pickup.address.full_address %>
              </h6>
              <h6>
                <%= t('.contact_name') %>: <%= @self_pickup.address.recipient %>
              </h6>
              <h6>
                <%= t('.contact_number') %>: <%= @self_pickup.address.contact_number %>
              </h6>
              <div class="mb-2 mt-3"><strong><%= t('.pickup_tracking') %></strong></div>
              <h6>
                <%= t('.pickup_readied_at') %>:
                <% if @order.pickup_readied_at %>
                  <%= DateTime.parse(@order.pickup_readied_at).strftime("%Y/%m/%d") %>
                <% end %>
              </h6>
              <h6>
                <%= t('.pickup_completed_at') %>:
                <% if @order.pickup_completed_at %>
                  <%= DateTime.parse(@order.pickup_completed_at).strftime("%Y/%m/%d") %>
                <% end %>
              </h6>
            </div>
          </div>
        <% end %>
        <% if @delivery.present? %>
          <div class="col-md">
            <div class="jumbotron">
              <div class="mb-2">
                <strong><%= t('.shipping_address') %></strong>
              </div>
              <h6>
                <%= t('.address') %>: <%= @order.address.try(:full_address) %>
              </h6>
              <h6>
                <%= t('.recipient') %>: <%= @order.address.try(:recipient) %>
              </h6>
              <h6>
                <%= t('.contact_number') %>: <%= @order.address.try(:contact_number) %>
              </h6>
              <div class="mb-2 mt-3">
                <strong><%= t('.delivery_tracking') %></strong>
              </div>
              <h6><%= t('.shipping_company') %>: <%= @order.shipping_company %></h6>
              <h6><%= t('.tracking_number') %>: <%= @order.tracking_number %></h6>
              <h6>
                <%= t('.ship_date') %>:
                <% if @order.shipped_at %>
                  <%= DateTime.parse(@order.shipped_at).strftime("%Y/%m/%d") %>
                <% end %>
              </h6>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
