<% unless @order.shipping_method_mix == 'no_shipping' %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% if @self_pickup.present? %>
          <div class="col-md">
            <div class="jumbotron">
              <div class="mb-2"><strong>Pickup Address</strong></div>
              <h6>Address: <%= @self_pickup.address.full_address %></h6>
              <h6>Contact Name: <%= @self_pickup.address.recipient %></h6>
              <h6>Contact Number: <%= @self_pickup.address.contact_number %></h6>
              <div class="mb-2"><strong>Pickup Tracking</strong></div>
              <h6>
                Pickup Readied At:
                <% if @order.pickup_readied_at %>
                  <%= DateTime.parse(@order.pickup_readied_at).strftime("%Y/%m/%d") %>
                <% end %>
              </h6>
              <h6>
                Pickup Completed At:
                <% if @order.pickup_completed_at %>
                  <%= DateTime.parse(@order.pickup_completed_at).strftime("%Y/%m/%d") %>
                <% end %>
              </h6>
            </div>
          </div>
        <% end %>
        <% if @delivery.present? %>
          <div class="col-md">
            <div class="jumbotron">
              <div class="mb-2"><strong>Delivery Tracking</strong></div>
              <h6>Shipping Company: <%= @order.shipping_company %></h6>
              <h6>Tracking Number: <%= @order.tracking_number %></h6>
              <h6>
                Ship Date:
                <% if @order.shipped_at %>
                  <%= DateTime.parse(@order.shipped_at).strftime("%Y/%m/%d") %>
                <% end %>
              </h6>
              <div class="mb-2"><strong>Shipping Address</strong></div>
              <h6>Address: <%= @order.address.full_address %></h6>
              <h6>Recipient: <%= @order.address.recipient %></h6>
              <h6>Contact Number: <%= @order.address.contact_number %></h6>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
