<h4><%= t('.transactions') %></h4>
<% if @transactions.present? %>
  <div class="list-group">
    <% @transactions.each do |transaction| %>
      <div class="list-group-item flex-column">
        <div class="d-flex justify-content-between">
          <h6>
            <%= t('.amount') %>:
            <%= humanized_money_with_symbol transaction.amount %>
          </h6>
          <h6>
            <%= t('.source') %>: <%= I18n.t payment_source(transaction) %>
          </h6>
        </div>
        <div class="d-flex justify-content-between">
          <small class="text-muted">
            <%= t('.note') %>: <%= transaction.note || t('.none') %>
          </small>
          <h6>
            <%= t('.type') %>: <%= transaction.originable.variety.titleize %>
          </h6>
        </div>
        <div class="d-flex justify-content-between">
          <small class="text-muted">
            <%= t('.transaction_id') %>: <%= transaction.id %>
          </small>
          <small>
            <%= t('.transacted_at') %>:
            <%= transaction.created_at.strftime("%Y/%m/%d") %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/no_record' %>
<% end %>
