<div class="col">
  <div class="jumbotron">
    <h4><%= t('.order_inventories') %></h4>
    <table class="table">
      <thead>
        <tr>
          <th><%= t('.product_name') %></th>
          <th><%= t('.inventory_id') %></th>
          <th><%= t('.inventory_status') %></th>
          <th><%= t('.purchase_price') %></th>
          <th><%= t('.shipping_method') %></th>
          <th><%= t('.purchase_date') %></th>
        </tr>
      </thead>
      <tbody>
        <% @order.inventories.each do |inv| %>
          <tr>
            <td>
              <%= link_to inv.product.name, admin_product_path(inv.product) %>
            </td>
            <td>
              <%= link_to inv.id, admin_inventory_path(inv) %>
            </td>
            <td>
              <%= inv.translated_status %>
            </td>
            <td>
              <%= humanized_money_with_symbol inv.purchase_price %>
            </td>
            <td>
              <%= inv.shipping_method.name %>
            </td>
            <td>
              <%= inv.purchased_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
