<div class="col">
  <div class="jumbotron">
    <h4><%= t('.payment') %></h4>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th><%= t('.payment_id') %></th>
          <th><%= t('.payment_amount') %></th>
          <th><%= t('.payment_status') %></th>
          <th><%= t('.payment_type') %></th>
          <th><%= t('.payment_processor') %></th>
        </tr>
      </thead>
      <tbody>
        <% @order.payments.each do |payment| %>
          <tr>
            <td><%= payment.id %></td>
            <td><%= humanized_money_with_symbol payment.amount %></td>
            <td><%= payment.translated_status %></td>
            <td><%= payment.translated_variety %></td>
            <td><%= payment.translated_processor %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
