<div class="col">
  <div class="jumbotron">
    <h4>Delivery</h4>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Shipping Company</th>
          <td><%= @order.shipping_company %></td>
        </tr>
        <tr>
          <th scope='row'>Tracking Number</th>
          <td><%= @order.tracking_number %></td>
        </tr>
        <tr>
          <th scope='row'>Shipped At</th>
          <td>
            <% if @order.shipped_at %>
              <%= DateTime.parse(@order.shipped_at).strftime("%Y/%m/%d") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">Shipping Completed At</th>
          <td>
            <% if @order.shipping_completed_at %>
              <%= DateTime.parse(@order.shipping_completed_at).strftime("%Y/%m/%d") %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col">
  <div class="jumbotron">
    <h4>Self Pickup</h4>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Pickup Readied At</th>
          <td>
            <% if @order.pickup_readied_at %>
              <%= DateTime.parse(@order.pickup_readied_at).strftime("%Y/%m/%d") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">Pickup Completed At</th>
          <td>
            <% if @order.pickup_completed_at %>
              <%= DateTime.parse(@order.pickup_completed_at).strftime("%Y/%m/%d") %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
