<!-- Add Shipment Modal -->
<div class="modal fade" id="ship_<%= @order.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.add_shipment') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(url: add_tracking_admin_order_path, local: true) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <div class="mt-1 mb-1">
              <%= t('.shipping_company_label') %>
            </div>
            <div class="row">
              <div class="col-6">
                <%= f.select :pre_select_shipco,
                             options_for_select(get_shipping_companies),
                             { include_blank: true }, class: 'form-control' %>
              </div>
              <div class="col-6">
                <%= f.text_field :shipping_company, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :tracking_number, t('.tracking_number') %>
            <%= f.text_field :tracking_number, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit t('.submit'), class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <%= t('.close') %>
          </button>
      <% end %>
      </div>
    </div>
  </div>
</div>
