<%= provide :title, t('.title') %>

<div class="d-flex justify-content-start mb-3 mt-3">
  <div>
    <%= render 'admin/transfers/index/status_filter' %>
  </div>
  <div class="ml-2">
    <%= render 'admin/transfers/index/processor_filter' %>
  </div>
</div>

<div class="row">
  <%= render 'shared/paginate', objects: @transfers if @transfers.present? %>
  <div class="col-lg-12">
    <p><%= t('.transfer_count') %>: <%= @transfers.total_count %></p>
  </div>
  <div class="col-lg-12">
    <%= render 'admin/transfers/index/transfers', transfers: @transfers %>
  </div>
  <%= render 'shared/paginate', objects: @transfers if @transfers.present? %>
</div>
