<%= provide :title, t('.title') %>

<%= render 'admin/transfers/show/action_control' %>

<div class="row">
  <div class="col-md">
    <div class="jumbotron">
      <h4><%= t('.transfer_info') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td><%= @transfer.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.amount') %></th>
            <td><%= humanized_money_with_symbol @transfer.amount %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.processor') %></th>
            <td><%= @transfer.translated_processor %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.status') %></th>
            <td><%= @transfer.translated_status %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.transferer') %></th>
            <td><%= @transfer.transferer.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.transferee') %></th>
            <td><%= @transfer.transferee.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.processor_response') %></th>
            <td><%= @transfer.processor_response %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.processor_query_result') %></th>
            <td><%= @transfer.processor_query_result %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <div class="jumbotron">
      <h4><%= t('.transferee_fin_info') %></h4>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t('.alipay_account') %></th>
            <td><%= @transfer.transferee.alipay_account %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.bank_name') %></th>
            <td><%= @transfer.transferee.bank_name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.bank_branch') %></th>
            <td><%= @transfer.transferee.bank_branch %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.bank_account') %></th>
            <td><%= @transfer.transferee.bank_account %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>