<%= provide :title, 'Images' %>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Type</th>
          <th>Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @images.each do |image| %>
          <tr>
            <td><%= image.id %></td>
            <td><%= image.title %></td>
            <td><%= image.imageable_type.try(:capitalize) %></td>
            <td><%= image_tag image.image_url(:thumb), class: 'img-fluid' %></td>
            <td>
              <%= link_to 'Detail', admin_image_path(image),
                                    class: 'btn btn-sm btn-info' %>
            </td>
            <td>
              <%= link_to 'Delete', admin_image_path(image), method: :delete,
                                    data: { confirm: 'Are you sure?' },
                                    class: 'btn btn-sm btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
