<div class="row">
  <% products.each do |product| %>
    <div class="col-sm-4">
      <div class="card mb-3">
        <%= image_tag product.images.first.image_url(:thumb), class: 'card-img-top' if product.images.present? %>
        <div class="card-body">
          <h4 class="card-title">
            <div class="row">
              <div class="col-12">
                <%= link_to product.name, product_path(product) %>
              </div>
              <div class="col-12">
                <%= humanized_money_with_symbol(product.price_member) %>
              </div>
            </div>
          </h4>
          <p class="card-text">
            <%= product.introduction.html_safe %>
          </p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col mb-1 mt-1">
              <%= link_to product_path(product), class: 'btn btn-sm btn-info btn-block' do %>
                <i class="fa fa-columns" aria-hidden="true"></i>
                Detail
              <% end %>
            </div>
            <div class="col mb-1 mt-1">
              <%= link_to '#', class: 'btn btn-sm btn-success btn-block' do %>
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Add to Cart
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
