<% cache [@category, @products] do %>
  <%= provide :title, @category.name %>
  <%= render 'shared/header_breadcrumb', title: yield(:title) %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <%= render 'search_card' %>
        <%= render 'sort_card' %>
        <%= render 'refine_card' %>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <% @products.each do |product| %>
            <% cache product do %>
              <div class="col-sm-4 mb-3">
                <%= render 'shared/product_card', product: product, cache: true %>
              </div>
            <% end %>
          <% end %>
          <%= render 'shared/paginate', objects: @products if @products.present? %>
        </div>
      </div>
    </div>
  </div>
<% end %>
