<div class="card">
  <div class="card-header">
    <%= yield(:title) %>
  </div>
  <div class="card-body">
    <%= render 'wallets/shared/action_return' %>
    <div class="row">
      <%= render 'shared/paginate', objects: @transfers if @transfers.present? %>
      <div class="col-lg-12">
        <p><%= t('.withdraw_count') %>: <%= @transfers.total_count %></p>
      </div>
      <div class="col-lg-12">
        <%= render 'shared/no_record' if @transfers.empty? %>
        <% @transfers.each do |transfer| %>
          <%= render 'wallets/show_withdraws/transfer', transfer: transfer %>
        <% end %>
      </div>
      <%= render 'shared/paginate', objects: @transfers if @transfers.present? %>
    </div>
  </div>
</div>
