<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.geo_code') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.parent_code') %></th>
      <th><%= t('.parent_name') %></th>
    </tr>
  </thead>
  <tbody>
    <% geos.each do |geo| %>
    <tr>
      <td><%= geo.id %></td>
      <td><%= geo.name %></td>
      <td><%= geo.parent.try(:id) %></td>
      <td><%= geo.parent.try(:name) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
