<h3><%= product.name %></h3>
<h5 class="text-muted"><%= product.tag_line %></h5>
<hr>
<%= product.introduction.html_safe %>
<hr>
<p>Brand: <%= product.categories.brands.first.try(:name) %></p>
<p>SKU: <%= product.sku %></p>
<p>Availability: <%= product.inventories.available.count %></p>
<hr>
<p>
  Market Price:
  <s><%= humanized_money_with_symbol(product.price_market) %></s>
</p>
<p class="font-weight-bold">
  Member Price:
  <strong><%= humanized_money_with_symbol(product.price_member) %></strong>
</p>

<%= form_with(url: add_to_cart_path, local: true, class: 'form-inline') do |form| %>
  <div class="input-group mr-3" style="width: 8rem;">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" onclick="decrementValue()">
        -
      </button>
    </span>
    <%= form.text_field :quantity, value: 1, id: 'quantity',
                        class: 'form-control text-center' %>
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" onclick="incrementValue()">
        +
      </button>
    </span>
  </div>
  <%= form.hidden_field :pid, value: product.id %>
  <% if product.in_stock? %>
    <%= form.submit 'Add to Cart', class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Out of Stock', '#', class: 'btn btn-primary disabled' %>
  <% end %>
<% end %>


