<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th><%= t('.processor') %></th>
    <th><%= t('.status') %></th>
    <th><%= t('.amount') %></th>
    <th></th>
  </thead>
  <tbody>
    <% if transfers.present? %>
      <% transfers.each do |transfer| %>
        <tr>
          <td><%= link_to transfer.id, admin_transfer_path(transfer) %></td>
          <td><%= transfer.processor.titleize %></td>
          <td><%= transfer.status.titleize %></td>
          <td><%= humanized_money_with_symbol transfer.amount %></td>
          <td><%= link_to t('.detail'), admin_transfer_path(transfer),
                                        class: 'btn btn-info btn-sm' %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5"><%= t('.no_match') %></td>
      </tr>
    <% end %>

  </tbody>
</table>
