<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>Proceesor</th>
    <th>Status</th>
    <th>Amount</th>
    <th></th>
  </thead>
  <tbody>
    <% if transfers.present? %>
      <% transfers.each do |transfer| %>
        <tr>
          <td><%= link_to transfer.id, admin_transfer_path(transfer) %></td>
          <td><%= transfer.processor.titleize %></td>
          <td><%= transfer.status.titleize %></td>
          <td><%= humanized_money_with_symbol transfer.amount %></td>
          <td><%= link_to 'Detail', admin_transfer_path(transfer),
                                    class: 'btn btn-info btn-sm' %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">No Matching Transfers</td>
      </tr>
    <% end %>

  </tbody>
</table>
